.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.header__logo {
  cursor: pointer;
  height: 40px;
}

.header__logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  position: relative;
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background: var(--color-primary);
  transition: 0.3s ease;
}

.header__link:hover::after {
  width: 100%;
}

.header__link.link-active {
  color: var(--color-primary);
}